@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: hsl(185, 75%, 39%);
}
body {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profile-div {
    margin:0 auto;
    width: 350px;
    height:374px;
    border-radius:15px;
    position: relative;
    box-shadow: 0 50px 100px -20px rgba(8, 70, 94, 0.504835);
}
.bg-card {
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.profile-pic {
    padding: 0 auto;
    border-radius: 100%;
    border: solid 5px #e8e9ec;
    position: absolute;
    top: 90px;
    left: 120px;
}
.profile-name {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    color:hsl(229, 23%, 23%);
    padding-top:75px;
    font-size:1rem;
    text-align: center;
}
.profile-muted-text {
    color: hsl(0, 0%, 59%);
    padding-left: 10px;
}
.profile-country {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight:400;
    font-size: .9rem;
    text-align: center;
    padding:15px 0;
    color: hsl(0, 0%, 59%);
}
hr {
    margin:10px 0;
    border: 1px solid #d8d8d8; 
}
.profile-stats {
list-style-type: none;
display:flex;
align-items: center;
text-align: center;
margin:30px 50px;
justify-content: space-between;
font-family: 'Kumbh Sans', sans-serif;
color: hsl(229, 23%, 23%);
font-weight:700;
font-size: 1rem;
}
.profile-item {
    display: block;
    font-weight:400;
    font-size:.7rem;
    margin-top: 10px;
    color: hsl(0, 0%, 59%);
}
.bgs {
    position:absolute;
}
.top-bg {
    position:relative;
    z-index: -1;

}
.bottom-bg {
    position: relative;
    z-index: -1;
    left: 930px;
}
.profile-div {
    background: white;
}